<div class="container principal">
    <h1 class="titulo-h1">Formulario Nomitek</h1>
    <form [formGroup]="form" (ngSubmit)="submit()" class="row" (ngSubmit)="submit()">
        <div class="col-md-6 col-sm-12">
            <label for="nombre" class="form-label">Nombre Completo</label>
            <input id="nombre" type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input id="apellidos" type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos">
        </div>
        <div class="col-md-12 col-sm-12">
            <label for="genero" class="form-label">Genéro</label>
            <select class="form-select" id="genero" formControlName="genero">
                <option selected disabled value="">Selecciona un género</option>
                <option> Hombre </option>
                <option> Mujer </option>
                    <option> Otro </option>
                </select>
            </div>
            <div class="col-md-12 col-sm-12">
                <label for="direccion" class="form-label">Dirección</label>
                <input  id="direccion" type="text" class="form-control" formControlName="direccion" placeholder="Dirección">
            </div>
            <div class="col-md-12 col-sm-12">
                <label for="pais" class="form-label">País</label>
                <select class="form-select" placeholder="Pais" [(ngModel)]="seleccionarPais" (change)="cambiarPais($event)" formControlName="pais">
                    <option>Seleccionar Pais</option>
                    <option *ngFor="let country of Paises">{{country.name}}</option>
                </select>
            </div>
            <div class="col-md-12 col-sm-12">
                <label for="estado" class="form-label">Estado de la República</label>
                <select class="form-select" placeholder="Estado" (change)="cambiarEstado($event)" formControlName="estado">
                    <option>Seleccionar Estado</option>
                    <option *ngFor="let estados of estados">{{estados}}</option>
                </select>  
            </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Enviar</button>
        </div>
    </form>   
</div>